<!DOCTYPE html>
<html>
<head>
	<title>Memory game</title>
	<style type="text/css">
		#game_board{
			background: silver;
			border: 1px solid black;
			height: 500px;
			width: 500px;
			margin: 0px auto;
		}
		#game_board > div{
			background: url(card_back.png) no-repeat;
			border: 1px solid white;
			height: 50px;
			width: 50px;
			margin: 10px;
			padding: 10px;
			font-size: large;
			text-align: center;
			float: left;
		}
	</style>
	<script type="text/javascript">
		// var all_letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
		var all_letters = ['1', '2','3','4','5','6','7','8','9','10'];
		// var all_colors = ['red', 'green', 'blue', 'orange', 'white'];
		var memory_array = [];
		var no_of_cards = 4;
		var flipped_card_values = [];
		var flipped_card_ids = [];
		var cards_flipped = 0;

		Array.prototype.shuffle_cards = function(){

		  var currentIndex = this.length, temporaryValue, randomIndex ;

		  // While there remain elements to shuffle...
		  while (0 !== currentIndex) {
		    // Pick a random element...
		    randomIndex = Math.floor(Math.random() * currentIndex);
		    currentIndex -= 1;
		    // And swap it with the current element.
		    temporaryValue = this[currentIndex];
		    this[currentIndex] = this[randomIndex];
		    this[randomIndex] = temporaryValue;
		  }
		}

		function new_game(){
			cards_flipped = 0;
			memory_array = [];
			var output = '';
			all_letters.shuffle_cards(); //shuffle all letters
			//push 5 random cards into memory_array. Each card is pushed twice
			for (var i=0; i < no_of_cards; i++){
				memory_array.push(all_letters[i]);
				memory_array.push(all_letters[i]);
			}
			memory_array.shuffle_cards();
			for (var j=0; j<memory_array.length;j++){
			output += '<div id="card_'+j+'" onclick="flip_card(this, \'' +memory_array[j] +'\')"></div>';
			}
			document.getElementById('game_board').innerHTML = output;
		}

		function flip_card(card, value){
			if (flipped_card_ids.length < 2 && card.innerHTML == "") {
				card.innerHTML = value;
				card.style.background = '#FFF';
				flipped_card_ids.push(card.id);
				flipped_card_values.push(value);
				if (flipped_card_ids.length ==2) {
					if (flipped_card_values[0] == flipped_card_values[1]){
						cards_flipped += 2; 
						flipped_card_ids = [];
						flipped_card_values = [];
						if (cards_flipped == memory_array.length){
							alert ("Yay! You did it! Congratulations, Smarty Pants!!!");
							document.getElementById('game_board').innerHTML = '';
							new_game();
						}
					}
					else{
						//flip the cards back if they are not same
						function flip_back(){
							var card1 = document.getElementById(flipped_card_ids[0]);
							var card2 = document.getElementById(flipped_card_ids[1]);
							card1.style.background = 'url(card_back.png) no-repeat';
							card2.style.background = 'url(card_back.png) no-repeat';
							card1.innerHTML = ""
							card2.innerHTML = ""
							flipped_card_ids = [];
							flipped_card_values = [];
						}
						setTimeout(flip_back,1500);
					} //end else flip cards back
				}; //end if flip_card_ids.length is 2
			}; // end if
		} //end function

	</script>
</head>
<body>
<div id="game_board">
	<script> new_game()</script>

</div>
</body>
</html>