	<script src= "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script type="text/javascript">
		var num;
		var ans1, ans2, ans3, ans4;
		var x = <%= @id %>;
		var name = "<%= @name %>";
		var tst = new RegExp("Add");
		// var add = /Add/g;
		var tst1 = new RegExp("Sub");
		var tst2 = new RegExp("Mul");
		var tst3 = new RegExp("Div");
		var res = tst.test(name);
		var res1 = tst1.test(name);
		var res2 = tst2.test(name);
		var res3 = tst3.test(name);

		function math(){
		num = Math.floor(Math.random() * (100 - 0) + 0);
		ans1  = num + x;
		ans2  = num - x;
		ans3  = num * x;	
		ans4  = num / x;	

		 if(res){
			$('#add').html("<h1>"+ num + " + " + x +"</h1>");
		 }
		 else if(res1){
		 	$('#add').html("<h1>"+ num + " - " + x +"</h1>");
		 }
		 else if(res2){
		 	$('#add').html("<h1>"+ num + " * " + x +"</h1>");
		 }
		 else if(res3){
		 	$('#add').html("<h1>"+ num + " / " + x +"</h1>");
		 }		
		}
		$( document ).ready(function()
		{
			   // alert(name);
			  // alert(x);
		$('#submit').click(function(){
			var user_input = $('#ans').val();
			if(ans1 == user_input){
				alert('u r right');
				$('#ans').val('');
				math();
			}
			else if(ans2 == user_input){
				alert('u r right');
				$('#ans').val('');
				math();
			}
			else if(ans3 == user_input){
				alert('u r right');
				$('#ans').val('');
				math();
			}	
			else if(ans4 == user_input){
				alert('u r right');
				$('#ans').val('');
				math();
			}		
			else{
				alert('wrong');
				$('#ans').val('');
			}
		})
		})
	</script>
	<div id="add-container">

	<div id="add"><script type="text/javascript">math()</script></div>
	<div>
		<input type="text" id="ans">
		<input type="submit" value="check" id="submit" class="btn-primary">
	</div>
</div>
