
<!DOCTYPE html>
<html>
<head>
	<title>Subjects</title>
</head>
<body>
	<h1>Subjects</h1>
	<% @subjects.each do |subject| %>
	<h2><a href="/subjects/<%= subject.id%>"><%= subject.name%></a> </h2>
	<% end %>
</body>
</html>


